.navbar{
  padding: 10px;
  background-color: wheat;
}

.search{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.card{
  display: flex;
  justify-content: center;
  
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  max-height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 /* CSS FOR THE REPOS */

 .repo-list{
   border: 1px pink solid;
   align-items: center;
 }

.repo-item{
  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem;
  list-style: none;
  margin-left: 0.5rem;
}

.repo-item a {
  color: orange;
}

.repo-item a:hover {
  color: lightpink;
}

.repo-description {
  color: rgb(95, 40, 147);
}

.repo-forks{
  color: red;
}

.repo-language{
  color: black;
}

.repos-search{
  margin: 1rem;
  padding: 0.5rem;
  width: 40%;
  justify-content: center;
  align-items: center;
}